.quiz_card {
    margin: auto;
    max-width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #d0d4ed;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.welcome {
    text-align: center;
    max-width: 30rem;
    margin: auto;
}